@font-face {
  font-family: Junicode;
  src: url(junicode-woff-1.002/Junicode.woff);
}

body {
    font-family: Junicode,"Helvetica Neue",Helvetica,Arial,sans-serif;
}

header {
  background: #826251;
  color: white; 
}

main {
  background: #FFE8D1; 
  layout: grid;
  grid-columns: 50px auto;
}
