@font-face {
  font-family: Junicode;
  src: url(../junicode-woff-1.002/Junicode.woff);
}

body {
    font-family: Junicode,"Helvetica Neue",Helvetica,Arial,sans-serif;
    padding: 0;
    margin: 0;
    background: #FFE8D1; 
    display: grid;
    grid-template-rows: 100px 1fr 30px;
    min-height: 100vh;
}

header {
  background: #826251;
  color: white; 
  font-size: 2em;
  fint-weight: bold;
  padding: 10px;
  padding-top: 30px;
  text-align: center;
}

main {
  background: #FFE8D1; 
  display: grid;
  grid-template-columns: max-content auto;
}

nav {
  background: #568EA3;
  color: white;
  padding: 0;
}

nav ul {
  list-style: none;
  padding-left: 0;
}

nav ul li {
  padding-top: 5px; 
  padding-bottom: 5px;
  padding-left: 20px;
  padding-right: 20px;
}

nav ul li.active {
  background: #4B7C8F; 
}

nav ul li a {
  color: white;
  text-decoration: none;
}

div.content {
  padding: 20px; 
}

div.content h1 {
  font-size: 1.3em; 
}

footer {
  background: #826251;
  color: white;
  font-size: 0.9em;
  padding-top: 8px;
  text-align: center;
}
